.projects-section .tag_buttons{
    color: blue !important;
    border: none !important;
    
}

.projects-section .card{
    border-radius: 1rem;
    border-color: blue;
}

.projects-section .card .card-img-xs{
    width: 100% !important;
    height: 100% !important;
}

.projects-section .card .card-title{
    text-align: center;
}